body{
  background: linear-gradient(#fff, #90c7e3);
  color: #666;
  font-family: helvetica;
}
header{
  background-color: #000;
  background-image: url(suns.jpg);
  background-position: right;
  background-repeat: no-repeat;
  line-height: 400%;
  text-indent: 1em;
  color: #fff;
}
nav{
  background-color: #fff;
  text-align: center;
  padding: 10px;
  height: 50px;
}
h1{
  padding: 10px;
  opacity: 0.7;
  text-shadow: 1px 1px 2px #000;
}
h2{
  color:  #1976d2;
  text-shadow: 2px 1px #ccc;
}
h3{
  color:  #002171;
}
.resort{
  color: #1976d2;
}
nav a{
  text-decoration: none;
  font-weight: bold;
  padding: 0 20px;
  color: #333;
  font-size: 20px;
  display: inline-block;
  line-height: 40px;
  text-shadow: 1px 1px 1px #ccc;
}
nav a:hover{
  color: #ccc;
  border: 1px solid #ccc;
  text-shadow: 1px 1px #666;
}
h1, h3, footer{
  font-family: georgia;
}
footer{
  font-size: 75%;
  font-style: italic;
  text-align: center;
  padding: 20px;
}
#contact{
  font-size: 90%;
}
#box{
  width: 80%;
  max-width: 1500px;
  margin: auto;
  background-color: #fff;
  box-shadow: 3px 3px 3px #666;
}
main{
  padding: 20px;
  padding-top: 1px;
}
main p{
  text-align: justify;
}
ul{
  list-style-type: none;
}
li::before{
  content: '\2022';
  color: deepskyblue;
  margin-right: 0.5em;
}
address{
  margin-top: 60px;
  margin-bottom: 20px;
}
#bigPhoto1{
  background-image: url(im1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 100%;
}
#bigPhoto2{
  background-image: url(imbig2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 100%;
}
.jurtaimg{
  width: 33%;
  height: 33%;
}
