body{
  background-color: lightblue;
}
.zdjecie{
  width: 400px;
  position: absolute;
  opacity: 0.9;
}
.zdjecie:nth-child(3n){
  transform: rotate(20deg);
}
.zdjecie:nth-child(2n){
  transform: rotate(-25deg);
}
.zdjecie:nth-child(1){
  transform: rotate(5deg);
  left: 180px;
  top: 76px;
}
.zdjecie:nth-child(2){
  right: 76px;
  top: 260px;
}
.zdjecie:nth-child(3){
  right: 76px;
  top: 70px;
}
.zdjecie:nth-child(6){
  right: 236px;
  top: 70px;
}
.zdjecie:nth-child(5){
  transform: rotate(13deg);
  left: 220px;
  top: 250px;
}
.zdjecie:nth-child(4){
  left: 70px;
  top: 140px;
}
.kontener .zdjecie img{
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.podpis{
  position: absolute;
  bottom: 30px;
  right: 0;
  background-color: #fff;
  padding: 10px 8px 10px 60px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.kontener{
  position: relative;
  width: 1100px;
  height: 700px;
  margin: 40px auto;
}
.zdjecie:hover{
  opacity: 1;
  transform: scale(1);
  position: absolute;
  left: 350px;
  top: 200px;
  z-index: 1;
}
