body{
  background-color: rgb(59, 146, 200);
  margin: 20px 200px;
  font-family: helvetica;
}
header, .wpisy, .post, footer{
  background-color: #fff;
  border-radius: 18px 0;
  box-shadow: 0 4px 8px rgb(80, 80, 80);
  
}
main{
  display: flex;
  justify-content: space-between;
}
.post img{
  float: left;
  margin-right: 10px;
}
.post{
  padding: 23px 15px;
  width: 50%;
  text-align: justify;
}

.wpisy{
  width: 35%;
  height: 170px;
  padding: 23px 30px;
  line-height: 24px;
  color: rgb(101, 99, 99);
}
header h1{
  color: rgb(39, 132, 231); 
  font-weight: 800;
}
footer{
  text-align: center;
  padding: 10px 0;
  font-size: 110%;
  margin-top: 20px;
  letter-spacing: 15px;
}
hr{
  border-top: 1px dotted;
}
main h2{
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}
.post p::first-letter{
  font-size: 90px;
  font-weight: bolder;
  text-shadow: 2px 4px 3px black;
  float: left;
  font-family: 'Times New Roman';
  margin-right: 7px;
  line-height: 0.8;
}

header{
  padding: 10px 0 0.1px 8px;
  line-height: 18px;
  margin-bottom: 25px;
}
.wpisy h3{
  font-weight: bolder;
  color: black;
}
.wpisy ul{
  list-style-type: none;
}
.wpisy ul li::before{
  content: "";
  background-color: rgb(59, 146, 200);
  height: 12px;
  width: 12px;
  display: inline-block;
  border-radius: 6px 0;
  box-shadow: 1px 1px 4px black;
  margin-right: 6px;
}